<?xml version="1.0" encoding="utf-8"?>
<ConfigPadrao>
	<Versao ID="1.00">
		<WebContentType>application/json</WebContentType>
		<WebTagRetorno>prop:innertext</WebTagRetorno>
		<SchemaVersao>1.00</SchemaVersao>
		<TargetNS>http://www.antt.gov.br/ciot</TargetNS>
		<TipoRetorno>application/json</TipoRetorno>
	</Versao>
</ConfigPadrao>
