<?xml version="1.0" encoding="utf-8"?>
<ConfigPadrao>
	<Versao ID="1.05.01">
		<WebContentType>text/xml</WebContentType>
		<WebTagRetorno>ideStatus</WebTagRetorno>
		<SchemaVersao>1.05.01</SchemaVersao>
		<TargetNS>http://sped.fazenda.gov.br</TargetNS>
	</Versao>
	<Versao ID="1.00.00">
		<WebContentType>application/xml</WebContentType>
		<WebTagRetorno>Reinf</WebTagRetorno>
		<SchemaVersao>1.00.00</SchemaVersao>
		<SchemaVersaoEvento>2_01_02</SchemaVersaoEvento>
		<TargetNS></TargetNS>
	</Versao>
</ConfigPadrao>