<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Xml" version="7.0.1" targetFramework="net48" />
  <package id="System.Security.Permissions" version="7.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="Unimake.Cryptography" version="20231103.1515.15" targetFramework="net48" />
  <package id="Unimake.DFe" version="20231106.1651.36" targetFramework="net48" />
  <package id="Unimake.Extensions" version="20231103.1515.15" targetFramework="net48" />
  <package id="Unimake.Security.Platform" version="20230706.1027.33" targetFramework="net48" />
  <package id="Unimake.Unidanfe" version="20230905.1023.21" targetFramework="net48" />
  <package id="Unimake.Utils" version="20231103.1515.15" targetFramework="net48" />
</packages>