<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.5.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.Cryptography" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net48" />
  <package id="System.Formats.Asn1" version="9.0.1" targetFramework="net48" />
  <package id="System.Memory" version="4.6.0" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Xml" version="9.0.1" targetFramework="net48" />
  <package id="System.Security.Permissions" version="9.0.1" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="Unimake.Cryptography" version="20250117.2202.47" targetFramework="net48" />
  <package id="Unimake.DFe" version="20250117.1141.1" targetFramework="net48" />
  <package id="Unimake.Extensions" version="20250117.2202.47" targetFramework="net48" />
  <package id="Unimake.Security.Platform" version="20230706.1027.33" targetFramework="net48" />
  <package id="Unimake.Unidanfe" version="20241216.1756.6" targetFramework="net48" />
  <package id="Unimake.Utils" version="20250117.2202.47" targetFramework="net48" />
</packages>