<?xml version="1.0" encoding="utf-8" ?>
<ConfigPadrao>
	<Versao ID="1.00">
		<WebContentType>application/soap+xml; charset=utf-8;</WebContentType>
		<WebSoapVersion>soap12</WebSoapVersion>
		<SchemaVersao>1.00</SchemaVersao>
		<TargetNS>http://www.portalfiscal.inf.br/nfgas</TargetNS>
	</Versao>
</ConfigPadrao>
